* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100%;

  /* background-color: aquamarine; */
}

body {
  /* background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
