.footer {
  // display: absolute;
  // bottom: 0;
  // top: 0;
  flex: 0 0 auto;
  height: 20px;
  // justify-content: space-around;
  background-color: rgb(131, 168, 180);
  width: 100%;
  //   height: 65px;
}
